body {
    font-family: Arial, sans-serif;
    background: url('./Фото/фон_3.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
    padding: 10px 20px;
    box-sizing: border-box;
    border-bottom: 2px dashed #fff; /* Додано пунктирну білу лінію знизу */
}

.header h1 {
    font-family: 'Metal Mania';
    src: url('./Фото/MetalMania-Regular.ttf') format('ttf');
    font-size: 1.8em;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    flex: 1;
}

.movie-poster {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-poster img {
    width: 235px;
    height: auto;
    border-radius: 10px;
    margin-top: 9px;
}

.movie-details {
    margin-left: 20px;
}

.movie-details h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.movie-details p {
    margin: 10px 0;
}

.movie-details p strong {
    font-weight: bold;
}

.watch-trailer {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

.watch-trailer:hover {
    background-color: #cc0000;
}

a {
    color: #00aaff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.trailer {
    display: none;
    margin-top: 20px;
}

video {
    width: 100%;
    border-radius: 10px;
}

.footer-1 {
    color: #fff;
    font-family: 'Metal Mania';
    src: url('./Фото/MetalMania-Regular.ttf') format('ttf');
    background-color: rgba(0, 0, 0, 0.5);
    border-top: 2px dashed #fff; /* Додано пунктирну білу лінію зверху */
    width: 100%;
    padding: 10px 0;
    text-align: center;
}
